services:
  apex-gain-db:
    image: postgres:17-alpine
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=apex-gain
    # enable logical replication
    command:
      - "postgres"
      - "-c"
      - "wal_level=logical"
      - "-c"
      - "max_wal_senders=10"
      - "-c"
      - "max_replication_slots=10"
      - "-c"
      - "shared_preload_libraries=pgoutput"
    ports:
      - "5432:5432"
    volumes:
      - ./docker/apex-gain-postgres:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '0.50'
    networks:
      - app-net

networks:
  app-net:
    external: true